<!DOCTYPE html>
<html>
<head>
    <title>SIBI Language Interpreter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <h1>SIBI Language Interpreter</h1>

    <!-- Camera Feed -->
    <video id="cameraFeed" autoplay></video>
    <script>
        const videoElement = document.getElementById("cameraFeed");
        async function startCamera() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                videoElement.srcObject = stream;
                mirrorCamera();
            } catch (error) {
                console.error("Error accessing camera:", error);
            }
        }
        function mirrorCamera() {
          videoElement.style.transform = "scaleX(-1)";
        }
        startCamera();
    </script>

    <!-- Chat UI -->
    <div id="chat-container">
        <div id="chat-box"></div>
        <input type="text" id="user-input" placeholder="Type your message..." disabled>
    </div>
    
    <script>
        const chatBox = document.getElementById("chat-box");
        let currentWord = '';
        let huruf;

        function appendMessage(text, sender) {
            const messageDiv = document.createElement("div");
            messageDiv.classList.add("message", sender);
            messageDiv.textContent = text;
            chatBox.appendChild(messageDiv);
            chatBox.scrollTop = chatBox.scrollHeight;
        }

        function fetchPredictions() {
            fetch('/get_predictions')
            .then(response => response.json())
            .then(predictionsData => {
                predictionsData.forEach(prediction => {
                    const classLabel = prediction.class_label;
                    if (classLabel !== 'NEXT' && classLabel !== 'SPASI' && classLabel !== 'STOP') {
                        huruf = classLabel;
                    } else if (classLabel === 'SPASI') {
                        huruf = ' ';
                    } else if (classLabel === 'STOP') {
                        appendMessage(currentWord, 'bot');
                        console.log(currentWord);
                        currentWord = '';
                    } else if (classLabel === 'NEXT') {
                        appendMessage(huruf, 'bot');
                        currentWord += huruf;
                    }
                });
            })
            .catch(error => console.error('Error:', error));
        }
        setInterval(fetchPredictions, 1000);
    </script>
</body>
</html>