<!DOCTYPE html>
<html>
<head>
    <title>Object Detection Results</title>
</head>
<body>
    <h1>Object Detection Results</h1>
    
    <div id="predictions">
        <!-- Predictions will be displayed here -->
    </div>
    
    <script>
        const predictionsDiv = document.getElementById('predictions');
        let currentWord = '';
        let startTime;
        var huruf;

        function fetchPredictions() {
            fetch('/get_predictions')
            .then(response => response.json())
            .then(predictionsData => {
                predictionsDiv.innerHTML = '';  // Clear previous predictions
                predictionsData.forEach(prediction => {
                    const classLabel = prediction.class_label;
                    if (classLabel !== 'NEXT' && classLabel !== 'SPASI' && classLabel !== 'STOP') {
                        huruf = classLabel;
                    }
                    else if (classLabel === 'SPASI') {
                        huruf = ' ';
                    }
                    else if (classLabel === 'STOP') {
                        const predictionElement = document.createElement('p');
                        predictionElement.textContent = currentWord;
                        predictionsDiv.appendChild(predictionElement);
                        console.log(currentWord);
                        currentWord = '';
                        //}
                    }
                    else if (classLabel === 'NEXT') {
                        const predictionElement = document.createElement('p');
                        predictionElement.textContent = huruf;
                        predictionsDiv.appendChild(predictionElement);
                        console.log(huruf);
                        currentWord += huruf;
                    }
                });
            })
            .catch(error => console.error('Error:', error));
        }

        // Call fetchPredictions function when the page loads
        fetchPredictions();
        setInterval(fetchPredictions, 1000); // Refresh every 3 seconds
    </script>
</body>
</html>