/* body { */
    /* margin-top: 120 px; */
    /* margin-left : 1500 px; */
    /*} */

    h1 {
      text-align: center;
      margin: 60px;
      font-family:'Poppins';
      font-weight: lighter;
      color: #212529;
      }
      
    /* h2 { 
        color: #212529;
        font-family: "Poppins Semibold";
        font-size: "48";
      }*/